<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>controller.VerifyOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDoctorServlet</servlet-name>
        <servlet-class>controller.SearchDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSlotsServlet</servlet-name>
        <servlet-class>controller.ViewSlotsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>controller.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAppointmentsServlet</servlet-name>
        <servlet-class>controller.MyAppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLoginServlet</servlet-name>
        <servlet-class>controller.DoctorLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogoutServlet</servlet-name>
        <servlet-class>controller.DoctorLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDoctorAppointmentsServlet</servlet-name>
        <servlet-class>controller.ViewDoctorAppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSlotServlet</servlet-name>
        <servlet-class>controller.AddSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSlotServlet</servlet-name>
        <servlet-class>controller.DeleteSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSlotsServlet</servlet-name>
        <servlet-class>controller.DoctorSlotsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctorServlet</servlet-name>
        <servlet-class>controller.AddDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDoctorsServlet</servlet-name>
        <servlet-class>controller.ViewDoctorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUsersServlet</servlet-name>
        <servlet-class>controller.ViewUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllAppointmentsServlet</servlet-name>
        <servlet-class>controller.ViewAllAppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>controller.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/VerifyOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDoctorServlet</servlet-name>
        <url-pattern>/SearchDoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSlotsServlet</servlet-name>
        <url-pattern>/ViewSlotsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/BookAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAppointmentsServlet</servlet-name>
        <url-pattern>/MyAppointmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLoginServlet</servlet-name>
        <url-pattern>/DoctorLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogoutServlet</servlet-name>
        <url-pattern>/DoctorLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDoctorAppointmentsServlet</servlet-name>
        <url-pattern>/ViewDoctorAppointmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSlotServlet</servlet-name>
        <url-pattern>/AddSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSlotServlet</servlet-name>
        <url-pattern>/DeleteSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSlotsServlet</servlet-name>
        <url-pattern>/DoctorSlotsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctorServlet</servlet-name>
        <url-pattern>/AddDoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDoctorsServlet</servlet-name>
        <url-pattern>/ViewDoctorsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUsersServlet</servlet-name>
        <url-pattern>/ViewUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllAppointmentsServlet</servlet-name>
        <url-pattern>/ViewAllAppointmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
